{% extends "auctions/layout.html" %}

{% block body %}
<br>

   {% if lot.photo %}

      <div class="img">
         <img src="{{ lot.photo.url }}" style="max-width: 100%; height: auto;"></img>
         </div>
   {% else %}
      <div class="img"></div>
   {% endif %}

<p></p>
<div class="title">{{ lot.title }}</div>
<div class="price"><strong>{{ lot.bids.last }} &#8364</strong></div>

   <div>
      <p> {{ bid }} </p>
      {% if messages %}
         {% for message in messages %}
         <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
            <!--<p class="message"><strong>{{ message }}</strong></p> -->
         {% endfor %}          
      {% endif %}

      <form method="post">
         {% csrf_token %}
         <!--<input type="number" step="0.01" placeholder="0.00"> -->
         <p>{{ form }} &#8364</p>
         <button class="btn btn-secondary" type="submit">Make offer</button>
      </form>
   </div>


<!--<div class="description">{{lot.description}}</div> -->
   {{lot.owner_name }}
   {{user.username}}
   <p>Lot.ID: {{lot.id}}</p>
   <p>User.ID: {{user.id}}</p>
   <br>
</div>
{% endblock %}