{% extends "auctions/layout.html" %}
{% load auctions_extras %}

{% block body %}
<div class="activ_list">
   
   {% if lot.photo %}

   <div class="img">
      <img src="{{ lot.photo.url }}" style="max-width: 100%; height: auto;"></img>
   </div>
   {% else %}
   <div class="img"></div>
   {% endif %}

   <p></p>
   <div class="title">{{ lot.title }}</div>
   
   <div class="price"><strong>{{ lot.starting_price }} &#8364</strong></div>
   
   <p></p>
   <p></p>

   <div class="description">{{lot.description}}</div>
   {% if user.is_authenticated %}

   <div class="btn-watchlist">

      {% if in_watchlist %}
      <form action="{% url 'watchlist' %}" method="post">
         {% csrf_token %}
         {{ form }}
         <p><input type="submit" value="Remove from watchlist"></p>
      </form>
      {% else %}
      <form action="{% url 'watchlist' %}" method="post">
         {% csrf_token %}
         {{ form }}
         <p><input type="submit" value="Add to watchlist"></p>
      </form>

      {% endif %}



   </div>

   {% endif %}

   {{lot.owner_name }}
   {{user.username}}
   <p>Lot.ID: {{lot.id}}</p>
  
   {% if lot.owner_name|name_as_str == user.username|name_as_str %}
   <div class="edit">
      <a href="{% url 'edit_auction' lot.id %}" class="btn">Edit lot data</a>
   </div>
   {% endif %}
</div>
{% endblock %}