{% extends "auctions/layout_auction.html" %}

{% block listing %}
  
      <div class="body-text">
                
         {% for item in lot_categories %}
            <div class="activ_list">
               
               <a href="{% url 'lot' item.id %}" >
                  <div class="img">
                     <img src="media/{{ item.photo}}" style="max-width: 100%; height: auto;"></img>
                  </div>
               </a>
            
               <a href="{% url 'lot' item.id %}">
                  <div class="title">{{ item.title }}</div>
               </a>
               {% if item.end_auction %}
                  <h1 align="center">The auction is over</h1>
               {% endif %}
               <div class="price"><strong>{{ item.bids.last }} &#8364</strong></div>      
            </div>
         {% endfor %}
      
      </div>
   
{% endblock %}